@charset "UTF-8";
/* CSS Document */

* {
	
	border: 0;
	margin: 0;
	padding: 0;
	
}

#wrapper {

	min-width: 100%;
	min-height: 100%;
	background-color: #FFF;
	overflow: hidden;

}

/* left blue bar */
.leftpage {

	background-color: #003366;
	float: left;
	height: 5000px;
	width: 300px;

}

.leftpage h1 {

	color: #FFF;
	font-size: 2em;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 20px;

}

.leftpage h2 {
	
	color: #FFF;
	font-size: 1.5em;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;

}
